<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DashingCompanyName" value="Polylytics"/>
    <add key="DashingLicenseKey" value="g2wgSAWNqaxwmtvlAXG8On8JXd6XICBDjDR2ksU4V8E/8b3zUrNOU533pBHW5Iur"/>
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>